<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.valchapple.hybrid_android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".models.MyHttpClient"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.DeviceListActivity"
            android:label="@string/title_device_list"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.valchapple.hybrid_android.activities.MainActivity" />

        <activity
            android:name=".activities.DeviceDetailActivity"
            android:label="@string/title_device_detail"
            android:parentActivityName=".activities.DeviceListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.valchapple.hybrid_android.activities.DeviceListActivity" />
        </activity>
        <activity
            android:name=".activities.DeviceDetailEditActivity"
            android:label="@string/title_device_detail_edit"
            android:parentActivityName=".activities.DeviceListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.valchapple.hybrid_android.activities.DeviceListActivity" />
        </activity>
        <activity
            android:name=".activities.UserListActivity"
            android:label="@string/title_user_list"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.valchapple.hybrid_android.activities.MainActivity" />

        <activity
            android:name=".activities.UserDetailActivity"
            android:label="@string/title_user_detail"
            android:parentActivityName=".activities.UserListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.valchapple.hybrid_android.activities.UserListActivity" />
        </activity>
        <activity
            android:name=".activities.UserDetailEditActivity"
            android:label="@string/title_user_detail_edit"
            android:parentActivityName=".activities.DeviceListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.valchapple.hybrid_android.activities.UserListActivity" />
        </activity>
        <activity
            android:name=".activities.CheckoutActivity"
            android:label="@string/title_checkout"
            android:parentActivityName=".activities.UserDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.valchapple.hybrid_android.activities.UserDetailActivity" />
        </activity>

    </application>

</manifest>